<% @title = '機能' %>
<h1>機能</h1>
<%= link_to '新しい機能を作る', url_for(:features, :new) %>
<table>
  <tr>
    <th>名前</th>
    <th>期限</th>
    <th></th>
  </tr>
<% @features.each do |feature| %>
  <tr>
    <td><%= feature.name %></td>
    <td><%= feature.deadline || 'なし' %></td>
    <td><%= link_to '編集', url_for(:features, :edit, id: feature.id) %></td>
  </tr>
<% end %>
</table>

