<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <%= javascript_include_tag 'jquery', 'jquery-ujs', 'application' %>
  <%= yield_content :assets %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>


